<!DOCTYPE HTML>
	<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szafbook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="main.css" />
	<link rel="icon" type="image/x-icon" href="img/favicon.ico"  />	
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p>This is a MOBILE placeholder for my pet project.</p>
	<p>You can find more information (in Polish) on <a href="http://namiekko.pl">my blog</a>, tagged with <a href="http://namiekko.pl/tag/szafbook/">szafbook.</a></p>
	<img src="/img/szafa.jpg"/>
</body>
</html>