<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <title>Szafbook</title>    
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="icon" type="image/x-icon" href="images/favicon.ico"  />		
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Szafbook</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="#">My Wardrobes</a></li>
					<li><a href="#">Friends' Wardrobes</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>				
				<p th:text="'Hello, ' + ${name} + '!'" />
				<p>This is a placeholder for my pet project.</p>
				<p>You can find more information (in Polish) on <a href="http://namiekko.pl">my blog</a>, tagged with <a href="http://namiekko.pl/tag/szafbook/">szafbook.</a></p>
				<ul class="actions">
					<li><a href="#" class="button big special">Log In</a></li>
					<li><a href="user" class="button big alternate">New User</a></li>
				</ul>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; Na miękko</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>