<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Szafbook</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/">Szafbook</a>
		</h1>
		<a href="#nav">Menu</a>
	</header>


	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a href="#">Home</a></li>
			<li><a href="#">My Wardrobes</a></li>
			<li><a href="#">Friends' Wardrobes</a></li>
			<li><a href="#">Search</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</nav>


	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>New User</h2>
				<p>Tell us about yourself</p>
			</header>

			<form action="#" th:action="@{/user}" th:object="${user}"
				method="post">
				<table>
					<tr>
						<td>Username:*</td>
						<td><input type="text" th:field="*{userName}" /></td>
						<td th:if="${#fields.hasErrors('userName')}"
							th:errors="*{userName}">Username Error</td>
					</tr>
					<tr>
						<td>Displayed Name:</td>
						<td><input type="text" th:field="*{displayedName}" /></td>
						<td th:if="${#fields.hasErrors('displayedName')}"
							th:errors="*{displayedName}">Displayed Name Error</td>
					</tr>
					<tr>
						<td>Email:*</td>
						<td><input type="email" th:field="*{email}" /></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
							Error</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><textarea th:field="*{description}">Tell us something about yourself</textarea></td>
						<td th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}">Description Error</td>
					</tr>
					<tr>
						<td>Birthday:</td>
						<td><input type="date" th:field="*{birthday}" /></td>
						<td th:if="${#fields.hasErrors('birthday')}"
							th:errors="*{birthday}">Expected format: yyyy-MM-dd</td>
					</tr>
					<tr>
						<td><button type="submit">Submit</button></td>
					</tr>
				</table>
			</form>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; Na miękko</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>	
</body>
</html>